<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.VinoHouse.mapper.SetmealBeverageMapper">

    <select id="getSetmealIdsByBeverageIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_beverage where beverage_id in
        <foreach collection="beverageIds" item="beverageId" separator="," open="(" close=")">
            #{beverageId}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="list">
        insert into setmeal_beverage (setmeal_id,beverage_id,name,price,copies)
        values
        <foreach collection="setmealBeveragees" item="sd" separator=",">
            (#{sd.setmealId},#{sd.beverageId},#{sd.name},#{sd.price},#{sd.copies})
        </foreach>
    </insert>
</mapper>
